body{
    font-family: Helvetica;
    background: #f4f4f4;
    padding: 10px;
    background-color: #f7bac0;
    background: url(/images/background.webp);
}

#wrapper {
    max-width: 1340px;
    margin: 0 auto;
}

main{
    background: rgba(255,255,255, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 25px;
}

button, .checkout-btn, .cart-action-button {
    cursor: pointer !important;
}

.page-title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.row {
    display:flex;
    gap: 20px;
}



a:link, a:visited {
    color: #000;
    text-decoration: none;
}


#navbar {
    padding: 5px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    background: rgba(255,255,255, 0.8);
    backdrop-filter: blur(5px);
    align-items: center;
}


#navbar a, #navbar div {
    margin: 5px; 
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex
}


#navbar a:hover {
    text-decoration: underline;
}

#navbar .user-actions {
    margin-left: auto;
    font-weight: normal;

}

#navbar .username{
    font-weight: normal;
    margin-right: 20px;

}

.user-icon {
    color: #444;
    height: 20px;
    top: -2px;
    right: 4px;
    position: relative;
}

#navbar .active {
    text-decoration: underline;
}

#login form, #signup form {
    display: flex;
    flex-direction: column;
    width: 200px;
    background: #d89bdf;
    padding: 30px;
}

#login input,  #signup input {
    margin-bottom: 10px;
}

#games .game-card {
    min-width: 300px;
    max-width: 300px;
    height:593px;
    /* background: rgb(168, 241, 71); */
    /* margin:20px; */
    border-radius: 20px;
    box-shadow: 0 0 10px #00000033;
    display: flex;
    flex-direction: column;
}

#games .game-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    top: 0;
}


#games{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
   
}  

#games .content {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;

}


.game-title {
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 5px;
    min-height: 60px;
}

.game-price {
    color: #404040;
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 5px;

}

.game-card {
    background: white;

}

.cart-action-button {
    margin-top: auto;
    padding: 5px;
    background-color: green;;
    color: white;
    border: none;
    font-size: 16pt;
    border-radius: 5px;
}

#game-page .cart-action-button svg,
#games .cart-action-button svg {
    position: relative;
    top: 4px;
    left: 4px;
}

#game-page .cart-action-button {
    width: 153px;
}

.cart-action-button[disabled] {
    opacity: 0.5;

}

.error {
    color: red;
    font-weight: bold;
    background: pink;
    border: solid 1px red;
    padding: 20px;
}


#game-page #game-title {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 20px;
}

#game-page img{
    border-radius: 10px;
    width: 350px;
}

#game-page-buy-actions {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 10px;
}

#game-page #game-price {
    font-weight: bold;
    font-size: 1.4em;
}

#game-description {
    background: #e9e9e9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000005e;
    margin-bottom: 20px;
    white-space: pre-wrap;
}

#game-description b {
    margin-bottom: 10px;
    display: block;
    font-size: 1.2em;
}

/* #game-page #left, #game-page #right {
   
} */

#game-page #right {
    display: flex;
    flex-direction: column;;
}

.cart-icon {
    margin-left: 5px;
}

#review-form {
    background: #efefef;
    padding: 20px;
    padding-top: 5px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
}

#review-form form {
    display: flex;
    flex-direction: column;
}

#review-form textarea {
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}

#review-form input[type=submit] {
    border: solid 2px black;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    background: white;
    width: 150px;
    margin-left: auto;
    margin-top: 10px;
} 

#review-form-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    border-radius: 10px;
    display: flex;
    backdrop-filter: blur(2px);
}

#review-form-overlay .inner {
    display: flex;
    color: white;
    margin: auto;
    font-size: 1.3em;
    font-weight: bold;
}

#review-form-overlay .inner a:link {
    color: white;
    text-decoration: underline;


}

.review {
    background: #ededed;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}

.review .stars {
    margin-left: auto;
    margin-top: -10px;
}

.normal {
    font-weight: normal;
}

#cart #games {
    flex-direction: column;
}

#cart .card {
    display: flex;
    flex-direction: row;
    background: #ececec;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    align-items: center;
    justify-items: flex-start;
    flex-grow: 1;
    flex-basis: 0;
}

/* .cart-game-thumb {
    height: 100px;
} */

.cart-game-thumb img {
    height: 100px;
}

.cart-game-title {
    font-weight: bold;
    font-size: 1.4em;
    display: flex;
    max-width: none;
    flex-grow: 1;
    padding-left: 20px;
}

.cart-game-description {
    max-width: 200px;
    display: flex;
}

.cart-game-price {
    font-weight: normal;
    font-size: 1.4em;
    padding-right: 30px;
}

#cart .cart-action-button {
    background: red;
    display: flex;
    /* margin-left: auto; */
    margin: 0;
    padding: 10px;
    font-size: 0.9em;
}

.cart-items {
    display: flex;
    flex-direction: column;
}

#subtotal {
    display: flex;
    margin-left: auto;
    padding: 20px;
    background: #ececec;
    border-radius: 10px;
    font-size: 1.4em;
    flex-direction: column;
}

.checkout-btn {
    padding: 10px;
    border-radius: 4px;
    background: green;
    margin-left: auto;
    margin-top: 10px;
    color: white;
    border: none;
    font-size: 0.8em;
}

#thank-you {
    font-weight: bold;
    text-align: center;
}

#thank-you .return-to-home:link {
    margin-top: 10px;
    text-decoration: underline;
    display: block;
}

