body{
    
    font-family: Helvetica;
    background: #f4f4f4;
}

.row{
    display:flex;
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
}


#navbar {
    margin: 5px; 
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    border: rgb(145, 145, 145) 1px solid;
}


#navbar a, #navbar div {
    margin: 5px; 
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;

}



#navbar a:hover {
    text-decoration: underline;
}

#navbar .username {
    margin-left: auto;
    font-weight: normal;
}

#navbar .active {
    text-decoration: underline;
}

#login form, #signup form {
    display: flex;
    flex-direction: column;
    width: 200px;
    background: #d89bdf;
    padding: 30px;

}

#login input,  #signup input {
    margin-bottom: 10px;
    
}
#games .game-card {
    min-width: 300px;
    max-width: 300px;
    height:593px;
    /* background: rgb(168, 241, 71); */
    /* margin:20px; */
    border-radius: 20px;
    box-shadow: 0 0 10px #00000033;
    display: flex;
    flex-direction: column;
    
}
#games .game-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    top: 0;
}


#games{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    padding: 50px;
    
}  

#games .content {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;

}

.game-title {
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 5px;
    min-height: 60px;
}

.game-price {
    color: #404040;
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 5px;

}

.add-to-cart{
    margin-top: auto;
    padding: 5px;
    background-color: green;;
    color: white;
    border: none;
    font-size: 16pt;
    border-radius: 5px;
}

.error {
    color: red;
    font-weight: bold;
    background: pink;
    border: solid 1px red;
    padding: 20px;
}

#game-page {
    border: solid 1px #000;
    padding: 20px;


}

#game-page #game-title {
    font-size: 24pt;
    font-weight: bold;

}

#game-page img{
    height: 500px;

}

#game-page #left, #game-page #right {
   
}

#game-page #left {
    margin-right: 20px;

}
