#navbar {
    margin: 5px; 
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    border: rgb(145, 145, 145) 1px solid;
}


#navbar a, #navbar div {
    margin: 5px; 
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;

}



#navbar a:hover {
    text-decoration: underline;
}

#navbar .username {
    margin-left: auto;
    font-weight: normal;

}

#login form, #signup form {
    display: flex;
    flex-direction: column;
    width: 200px;
    background: #d89bdf;
    padding: 30px;

}

#login input,  #signup input {
    margin-bottom: 10px;
    
}
#games .thumbnail{
    width: 300px;
    height:400px;
    background: rgb(168, 241, 71);
    margin:5px;
    border-radius: 20px;
    box-shadow: 0 0 10px #00000033;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#games{
    display: flex;
}  

.add-to-cart{
    margin-top: auto;

}